<h2>register</h2>


  <form class="register" action="/register" method="post">
    <div >
      <input type="text" placeholder='name' name="name" >
    </div>
    <div >
      <input type="email" placeholder='email' name="email" >
    </div>
    <div >
      <input type="password" placeholder='password' name="password" >
    </div>
    <div >
      <input class="button" type="submit" value="Log In">
    </div>
  </form>
